@charset "utf-8";
/* CSS Document */
body{
	max-width:1000px;
	width:100%;
	margin:0 auto;
}
li{
	width:30%;
	float:left;
	margin-top:50px;
}
.trumpet{
	background-image:url(../images/trumpet.gif);
	width:350px;
	height:348px;
}
.trumpet:hover{
	background-image:url(../images/trumpet_hover.gif);
}


.piano{
	background-image:url(../images/maracas.gif);
	width:350px;
	height:348px;
}
.piano:hover{
	background-image:url(../images/maracas_hover.gif);
}


.drums{
	background-image:url(../images/drums.gif);
	margin-left:300px;
	width:350px;
	height:348px;
}
.drums:hover{
	background-image:url(../images/drums_hover.gif);
}


.guitar{
	background-image:url(../images/guitar.gif);
	margin-left:300px;
	width:350px;
	height:348px;
}
.guitar:hover{
	background-image:url(../images/guitar_hover.gif);
}


.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */